<center>
  <h1>Rogelio Bicicletas</h1>
</center>
<div id="wrap">
  <div id="left_col" style="margin-top: 10px; margin-bottom: 30px">
    <h2>Empresa</h2>
    <h3>Rogelio Bicicletas es...</h3>
    <h3>texto sin sentido para ver el espacio que debe tomar</h3>
    <h3>texto sin sentido para ver el espacio que debe tomar</h3>
    <h3>texto sin sentido para ver el espacio que debe tomar</h3>
    <h3>texto sin sentido para ver el espacio que debe tomar</h3>
    </div>
  <div id="right_col" style="border:margin-top: 10px; margin-bottom: 30px">
  	<h2>Misi&oacute;n:</h2>
  	<h3>texto sin sentido para ver el espacio que debe tomar</h3>
  	<h3>texto sin sentido para ver el espacio que debe tomar</h3>
  	<h3>texto sin sentido para ver el espacio que debe tomar</h3>
  	<h3>texto sin sentido para ver el espacio que debe tomar</h3>
  	<h2>Visi&oacute;n:</h2>
  	<h3>texto sin sentido para ver el espacio que debe tomar</h3>
  	<h3>texto sin sentido para ver el espacio que debe tomar</h3>
  	<h3>texto sin sentido para ver el espacio que debe tomar</h3>
  	<h3>texto sin sentido para ver el espacio que debe tomar</h3>
  </div>
</div>